<body>
  <div class="main_content">
    <div class="photo_collage">
      <div class="img_1">
        <img src="assets/images/img_1.jpg" alt="" />
      </div>
      <div class="img_2">
        <img src="assets/images/img_2.jpg" alt="" />
      </div>
      <div class="img_3">
        <img src="assets/images/img_3.jpg" alt="" />
      </div>
      <div class="img_4">
        <img src="assets/images/img_4.jpg" alt="" />
      </div>
    </div>
    <div class="main_content_top">
      <div class="main_content_title">Step in our kitchen</div>
      <div class="main_content_under_title_1">
        We've created this concept for you to enjoy a healthy lifestyle. You can
        start this journey with the easiest and most important step, healthy
        food.
      </div>
      <div class="main_content_under_title_2">
        Many people have the impression that healthy food cannot be tasty and
        this is a fake thing :)
      </div>
      <div class="main_content_under_title_3">
        Stay with us and try the easy and tasty recipes we provide, and stay
        calm, if you find it too difficult you can always order your favorite
        meal right from this site.
      </div>
      <div class="img_5">
        <img src="assets/images/img_5.jpg" alt="" />
      </div>
      <div class="img_6">
        <img src="assets/images/img_6.jpg" alt="" />
      </div>
    </div>
    <div class="offer">
      <div class="title">What do we offer</div>
      <div class="list">
        <div class="meal">
          <img src="assets/images/meal.png" alt="" />
          <div class="meal_text">
            So, basically Go Healthy is a restaurant that, through this site,
            offers you the possibility to order your favorite food at your home.
          </div>
        </div>

        <div class="veg">
          <img src="assets/images/veg.png" alt="" />
          <div class="veg_text">
            Secondly, if you don't want your meal already cooked or you want to
            cook something else completely or you just don't want to go shopping
            you can opt for the option to order only the ingredients.
          </div>
        </div>

        <div class="recipe">
          <img src="assets/images/recipe.png" alt="" />
          <div class="recipe_text">
            Ok, you don't want to order cooked food from us, you don't want to
            order the ingredients maybe because you already have them, if that's
            the case, it's no problem, here on the site we offer you the
            possibility to cook all the menu available on site attaching you all
            the recipes.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
