<img src="/assets/images/login3.jpg" alt="" />

<div class="title">Edit product</div>

<form class="edit-product-form">
  

  <div [formGroup]="myForm">
    <label>Name</label>
    <div class="wrap-input">
      <input
        class="input-line full-width"
        id="name"
        name="name"
        type="text"
        formControlName="name"
      />
      <span class="shadow-input"></span>
    </div>

    <label>Picture</label>
    <div class="wrap-input">
      <input
        class="input-line full-width"
        id="picture"
        name="picture"
        type="text"
        formControlName="pictureUrl"
      />
      <span class="shadow-input"></span>
    </div>

    <label>Price</label>
    <div class="wrap-input">
      <input
        class="input-line full-width"
        id="price"
        name="price"
        type="text"
        formControlName="price"
      />
      <span class="shadow-input"></span>
    </div>

    <label>Ingredients</label>
    <div class="wrap-input">
      <textarea
        rows="4"
        cols="42"
        class="input-line full-width"
        type="text"
        formControlName="ingredients"
      ></textarea>
      <span class="shadow-input"></span>
    </div>
  </div>

  <div class="add-product-btn-container">
    <button class="add-product-btn full-width" (click)="update()">
      <span>Edit product</span>
    </button>
  </div>
</form>
