<img src="/assets/images/edit-image.jpeg" alt="" />

<div class="title">Edit product</div>

<form class="edit-product-form">
  <div class="form-div" [formGroup]="myForm">
    <label>Name</label>
    <div class="wrap-input">
      <input
        class="input-line full-width"
        id="name"
        name="name"
        type="text"
        formControlName="name"
      />
      <span class="shadow-input"></span>
    </div>

    <label>Picture</label>
    <div class="wrap-input">
      <input
        class="input-line full-width"
        id="picture"
        name="picture"
        type="text"
        formControlName="pictureUrl"
      />
      <span class="shadow-input"></span>
    </div>

    <label>Price</label>
    <div class="wrap-input">
      <input
        class="input-line full-width"
        id="price"
        name="price"
        type="text"
        formControlName="price"
      />
      <span class="shadow-input"></span>
    </div>

    <label>Ingredients</label>
    <div class="wrap-input">
      <textarea
        id="ingredients"
        rows="4"
        cols="42"
        class="input-line full-width"
        type="text"
        formControlName="ingredients"
      ></textarea>
      <span class="shadow-input"></span>
    </div>
  </div>

  <div class="add-product-btn-container">
    <button class="add-product-btn full-width" (click)="update()">
      <span>Edit product</span>
    </button>
  </div>
</form>

<!-- <div class="modal-header">
  <h4>Test</h4>
</div>
<div class="modal-body">
  <div class="photo-container">
    <img class="product-cover" [src]="product.pictureUrl" alt="" />
  </div>
  <div class="product-card-main">
    <div class="product-name">{{ product.name }}</div>
    <div class="product-ingredients">{{ product.ingredients }}</div>
  </div>
  <div class="product-card-footer">
    <div class="product-price">{{ product.price }} €</div>
    <button class="remove-product-button">
      <img
        class="remove-product-button-photo"
        src="/assets/images/remove.png"
        alt=""
      />
    </button>
    <button class="edit-product-button">
      <img
        class="edit-product-button-photo"
        src="/assets/images/edit.png"
        alt=""
      />
    </button>
    <button class="add-cart-button">
      <img
        class="add-cart-button-photo"
        src="/assets/images/plus-icon.png"
        alt=""
      />
    </button>
  </div>
</div> -->
