<div class="footer">
  <div class="footer_img">
    <img src="assets/images/footer_img.jpg" alt="" />
  </div>
  <div class="reviews_container">
    <div class="review_card_1">
      <div class="review_card_1_container">
        <div class="upper_text">"You have to try this!"</div>
        <div class="bottom_text">
          Firstly, I thought this wasn't going to help me, but now, I'm using it
          everyday!
        </div>
        <div class="review_card_name">- John Smith -</div>
        <div class="review_card_ocupation">student</div>
      </div>
      <img src="assets/images/review_photo_1.png" alt="" />
    </div>

    <div class="review_card_2">
      <div class="review_card_2_container">
        <div class="upper_text">"It is a nice and efficient system."</div>
        <div class="bottom_text">
          Simply the best application for online ordering. I'm using it for
          couple of months and I am extremely satisfied, and it is free.
          Personally, I recommend Go Healthy to all my clients, because it works
          very good with a nice workout.
        </div>
        <div class="review_card_name">- Sara Miller -</div>
        <div class="review_card_ocupation">personal trainer</div>
      </div>
      <img src="assets/images/review_photo_2.png" alt="" />
    </div>

    <div class="review_card_3">
      <div class="review_card_3_container">
        <div class="upper_text">
          "I am very happy because I chose Go Healthy!"
        </div>
        <div class="bottom_text">
          It's a great system, helpful in these COVID-19 times.
        </div>
        <div class="review_card_name">- Jake Johnson -</div>
        <div class="review_card_ocupation">lawyer</div>
      </div>
      <img src="assets/images/review_photo_3.png" alt="" />
    </div>
  </div>
</div>
