<body>
  <div class="header">
    <img class="start_photo" src="assets/images/story_start_photo.jpg" alt="" />
    <div class="logo_container">
      <a routerLink=""
        ><img class="logo" src="assets/images/white_logo.png" alt=""
      /></a>
    </div>
    <div class="navbar_photo">
      <img src="assets/images/navbar_photo5.png" alt="" />
    </div>
    <div class="navbar_buttons">
      <div class="menu">
        <a class="menu_a" routerLink="/menu">
          <span class="menu_a_span">Menu</span></a
        >
      </div>

      <div class="our_story">
        <a class="our_story_a" routerLink="/our-story">
          <span class="our_story_a_span">Our story</span></a
        >
      </div>

      <div class="reviews">
        <a class="reviews_a" routerLink="/reviews">
          <span class="reviews_a_span">Reviews</span>
        </a>
      </div>

      <div class="contact">
        <a class="contact_a" routerLink="/contact">
          <span class="contact_a_span">Contact</span>
        </a>
      </div>

      <div class="log_in">
        <a class="log_in_a" routerLink="/log-in">
          <span class="log_in_a_span">Log In</span>
        </a>
      </div>

      <div class="sign_in">
        <a class="sign_in_a" routerLink="/sign-in">
          <span class="sign_in_a_span">Sign In</span>
        </a>
      </div>

      <div class="cart">
        <a class="cart_a" routerLink="/cart">
          <span class="cart_a_span">Cart</span>
        </a>
      </div>
    </div>
    <div class="title">Our story</div>
  </div>
  <div class="our_story_main_content">
    <div class="who_are_we">
      <div class="who_are_we_title">Who are we</div>
      <div class="waw-text-container-1">
        Located in the heart of Los Angeles on bustling San Jose Avenue, Go Healthy
        serves authentic cuisine with innovative twists on centuries-old
        recipes.
      </div>
      <div class="waw-text-container-2">
        Connecting people to place through contemporary healthy cuisine, Go
        Healthy crafts inspired dishes reflective of our country’s diverse
        landscape, history and culture. Our chefs work closely with farmers and
        suppliers to source the finest ingredients from across the nation. With
        over 20 years of culinary history.
      </div>
    </div>
    <div class="o_story_photo_1">
      <img src="assets/images/o_story_photo_1.jpg" alt="" />
    </div>
    <div class="what_we_want">
      <div class="what_we_want_title">What we want</div>
      <div class="www-text-container-1">
        Our culinary and service teams are as passionate about their work as
        they are experienced and professionally trained, taking great pride in
        delivering an exceptional all round experience.
      </div>
      <div class="www-text-container-2">
        From family-style dining to riffs on Thai street food, Chef Richard
        Brown's menu balances intense fresh flavours with seasonal ingredients
        and locally sourced products. The menu is served alongside an inspired
        cocktail card, informed beer list and extensive selection of wines
        served by-the-glass or bottle.
      </div>
    </div>

    <div class="founders">
      <div class="founders-title-container">The founders</div>
      <div class="founders-name-container">
        <div class="f1">James Smith</div>
        <div class="f2">David Jones</div>
        <div class="f3">Richard Brown</div>
      </div>
      <div class="founders-description-container">
        <div class="f-d-1">
          James Smith realized his culinary vision at his first eponymous
          restaurant, in the very heart of downtown Vancouver. At Hawksworth
          Restaurant, which opened in 2011, he has created the ideal setting to
          deliver compelling contemporary Canadian cuisine.
        </div>
        <div class="f-d-2">
          After prestigious stints on the Miami, San Fran and Toronto culinary
          scenes, Chef David settled in Vancouver at Hawksworth as Senior Sous
          Chef before taking the helm at Botanist. Under his direction, Botanist
          has been named one of Canada’s 50 Best Restaurants.
        </div>
        <div class="f-d-3">
          Originally hailing from Paris, France, this globetrotter has been in
          the hospitality industry for over a decade, working alongside
          internationally celebrated chefs including Jean Georges, Nobu
          Matsuhisa and Justin Quek.
        </div>
      </div>
    </div>
  </div>
  <div class="our-story-footer">
    <img class="footer-img" src="/assets/images/our-story-footer.jpg" alt="" />

    <div class="bottom-footer">
      <a href="#"><div class="terms_and_conditions">terms&conditions</div></a>
      <div class="footer_logo">
        <a routerLink=""
          ><img class="logo" src="assets/images/white_logo.png" alt=""
        /></a>
      </div>
      <div class="footer_social_media">
        <div class="f_logo">
          <a href="#"><img src="assets/images/f_logo.png" alt="" /></a>
        </div>
        <div class="i_logo">
          <a href="#"><img src="assets/images/i_logo.png" alt="" /></a>
        </div>
        <div class="t_logo">
          <a href="#"><img src="assets/images/t_logo.png" alt="" /></a>
        </div>
      </div>
      <div class="up">
        <a href="#top"><img src="assets/images/up.png" alt="" /></a>
      </div>
    </div>
  </div>
</body>
