<body>
  <div class="header">
    <img class="start_photo" src="assets/images/story_start_photo.jpg" alt="" />
    <div class="logo_container">
      <a routerLink=""
        ><img class="logo" src="assets/images/white_logo.png" alt=""
      /></a>
    </div>
    <div class="navbar_photo">
      <img src="assets/images/navbar_photo5.png" alt="" />
    </div>
    <div class="navbar_buttons">
      <div class="menu">
        <a class="menu_a" routerLink="/menu">
          <span class="menu_a_span">Menu</span></a
        >
      </div>

      <div class="our_story">
        <a class="our_story_a" routerLink="/our-story">
          <span class="our_story_a_span">Our story</span></a
        >
      </div>

      <div class="reviews">
        <a class="reviews_a" routerLink="/reviews">
          <span class="reviews_a_span">Reviews</span>
        </a>
      </div>

      <div class="contact">
        <a class="contact_a" routerLink="/contact">
          <span class="contact_a_span">Contact</span>
        </a>
      </div>

      <div class="log_in">
        <a class="log_in_a" routerLink="/log-in">
          <span class="log_in_a_span">Log In</span>
        </a>
      </div>

      <div class="sign_in">
        <a class="sign_in_a" routerLink="/sign-in">
          <span class="sign_in_a_span">Sign In</span>
        </a>
      </div>

      <div class="cart">
        <a class="cart_a" routerLink="/cart">
          <span class="cart_a_span">Cart</span>
        </a>
      </div>
    </div>
    <div class="title">Our story</div>
  </div>
  <div class="our_story_main_content">
    <div class="who_are_we">
      <div class="who_are_we_title">Who are we</div>
      <div class="waw-text-container-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
        sapiente fugiat quidem perspiciatis quas distinctio accusantium amet
        rerum tempore nisi?
      </div>
      <div class="waw-text-container-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, nam porro
        iste optio aliquid aliquam delectus blanditiis temporibus! Veritatis
        illum magni, dolores mollitia cupiditate vitae ex expedita placeat
        provident fuga harum cum iste culpa ipsam excepturi, nobis perspiciatis
        illo magnam!
      </div>
    </div>
    <div class="o_story_photo_1">
      <img src="assets/images/o_story_photo_1.jpg" alt="" />
    </div>
    <div class="what_we_want">
      <div class="what_we_want_title">What we want</div>
      <div class="www-text-container-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
        reprehenderit similique? Deserunt aspernatur nisi maiores enim odio
        alias id animi!
      </div>
      <div class="www-text-container-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nisi
        cum, veritatis sunt nostrum perferendis esse facere sit? Velit id facere
        nemo tenetur ullam minima voluptatibus ipsam eaque repellendus dicta?
        Beatae tempora quo sed magnam maxime architecto molestias iste
        perferendis!
      </div>
    </div>

    <div class="founders">
      <div class="founders-title-container">The founders</div>
      <div class="founders-name-container">
        <div class="f1">James Smith</div>
        <div class="f2">David Jones</div>
        <div class="f3">Richard Brown</div>
      </div>
      <div class="founders-description-container">
        <div class="f-d-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor illum
          quasi a laboriosam optio eaque quaerat veniam hic est pariatur qui
          obcaecati consectetur aliquid, porro vitae. Delectus debitis atque
          omnis minus qui? Nisi delectus nobis repudiandae vitae eius iusto
          dolores!
        </div>
        <div class="f-d-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
          blanditiis aliquid debitis repellat repellendus dignissimos tenetur
          possimus consectetur obcaecati ut perspiciatis accusantium atque,
          itaque saepe optio, nemo assumenda accusamus cum.
        </div>
        <div class="f-d-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis velit,
          distinctio voluptate neque quisquam at amet consequatur sit nam
          tempore, soluta, magni a nesciunt praesentium perferendis ex voluptas
          repellat? Maiores dolores in vel error libero iure fuga dolorum
          aspernatur quos?
        </div>
      </div>
    </div>
  </div>
  <div class="our-story-footer">
    <img src="/assets/images/our-story-footer.jpg" alt="" />

    <div class="bottom-footer">
      <a href="#"><div class="terms_and_conditions">terms&conditions</div></a>
      <div class="footer_logo">
        <a routerLink=""
          ><img class="logo" src="assets/images/white_logo.png" alt=""
        /></a>
      </div>
      <div class="footer_social_media">
        <div class="f_logo">
          <a href="#"><img src="assets/images/f_logo.png" alt="" /></a>
        </div>
        <div class="i_logo">
          <a href="#"><img src="assets/images/i_logo.png" alt="" /></a>
        </div>
        <div class="t_logo">
          <a href="#"><img src="assets/images/t_logo.png" alt="" /></a>
        </div>
      </div>
      <div class="up">
        <a href="#top"><img src="assets/images/up.png" alt="" /></a>
      </div>
    </div>
  </div>
</body>
