<body>
  <a name="top"></a>
  <div class="header">
    <img class="start_photo" src="assets/images/start_photo3_6.jpg" alt="" />
    <div class="logo_container">
      <a routerLink=""
        ><img class="logo" src="assets/images/logo.png" alt=""
      /></a>
    </div>
    <div class="navbar_photo">
      <img src="assets/images/navbar_photo5.png" alt="" />
    </div>
    <div class="navbar_buttons">
      <div class="menu">
        <a class="menu_a" routerLink="/menu">
          <span class="menu_a_span">Menu</span></a
        >
      </div>

      <div class="our_story">
        <a class="our_story_a" routerLink="/our-story">
          <span class="our_story_a_span">Our story</span></a
        >
      </div>

      <div class="reviews">
        <a class="reviews_a" routerLink="/reviews">
          <span class="reviews_a_span">Reviews</span>
        </a>
      </div>

      <div class="contact">
        <a class="contact_a" routerLink="/contact">
          <span class="contact_a_span">Contact</span>
        </a>
      </div>

      <div class="log_in">
        <a class="log_in_a" routerLink="/log-in">
          <span class="log_in_a_span">Log In</span>
        </a>
      </div>

      <div class="sign_in">
        <a class="sign_in_a" routerLink="/sign-in">
          <span class="sign_in_a_span">Sign In</span>
        </a>
      </div>

      <div class="cart">
        <a class="cart_a" routerLink="/cart">
          <span class="cart_a_span">Cart</span>
        </a>
      </div>
    </div>
    <div class="title">For a better life</div>
    <div class="text_under_title">
      We want to show you how easy it is to have a healthy lifestyle
    </div>
    <div class="social_media_buttons">
      <div class="arrow">
        <img src="assets/images/arrow_photo.png" alt="" />
        <div class="white_box">
          <div class="facebook">
            <a href="#"
              ><img src="assets/images/facebook_photo.png" alt=""
            /></a>
          </div>
          <div class="instagram">
            <a href="#"
              ><img src="assets/images/instagram_photo.png" alt=""
            /></a>
          </div>
          <div class="twitter">
            <a href="#"><img src="assets/images/twitter_photo.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main_content">
    <div class="photo_collage">
      <div class="img_1">
        <img src="assets/images/img_1.jpg" alt="" />
      </div>
      <div class="img_2">
        <img src="assets/images/img_2.jpg" alt="" />
      </div>
      <div class="img_3">
        <img src="assets/images/img_3.jpg" alt="" />
      </div>
      <div class="img_4">
        <img src="assets/images/img_4.jpg" alt="" />
      </div>
    </div>
    <div class="main_content_top">
      <div class="main_content_title">Step in our kitchen</div>
      <div class="main_content_under_title_1">
        We've created this concept for you to enjoy a healthy lifestyle. You can
        start this journey with the easiest and most important step, healthy
        food.
      </div>
      <div class="main_content_under_title_2">
        Many people have the impression that healthy food cannot be tasty and
        this is a fake thing :)
      </div>
      <div class="main_content_under_title_3">
        Stay with us and try the easy and tasty recipes we provide, and stay
        calm, if you find it too difficult you can always order your favorite
        meal right from this site.
      </div>
      <div class="img_5">
        <img src="assets/images/img_5.jpg" alt="" />
      </div>
      <div class="img_6">
        <img src="assets/images/img_6.jpg" alt="" />
      </div>
    </div>
    <div class="offer">
      <div class="title">What do we offer</div>
      <div class="list">
        <div class="meal">
          <img src="assets/images/meal.png" alt="" />
          <div class="meal_text">
            So, basically Go Healthy is a restaurant that, through this site,
            offers you the possibility to order your favorite food at your home.
          </div>
        </div>

        <div class="veg">
          <img src="assets/images/veg.png" alt="" />
          <div class="veg_text">
            Secondly, if you don't want your meal already cooked or you want to
            cook something else completely or you just don't want to go shopping
            you can opt for the option to order only the ingredients.
          </div>
        </div>

        <div class="recipe">
          <img src="assets/images/recipe.png" alt="" />
          <div class="recipe_text">
            Ok, you don't want to order cooked food from us, you don't want to
            order the ingredients maybe because you already have them, if that's
            the case, it's no problem, here on the site we offer you the
            possibility to cook all the menu available on site attaching you all
            the recipes.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer_img">
      <img src="assets/images/footer_img.jpg" alt="" />
    </div>
    <div class="reviews_container">
      <div class="review_card_1">
        <div class="review_card_1_container">
          <div class="upper_text">"You have to try this!"</div>
          <div class="bottom_text">
            Firstly, I thought this wasn't going to help me, but now, I'm using
            it everyday!
          </div>
          <div class="review_card_name">- John Smith -</div>
          <div class="review_card_ocupation">student</div>
        </div>
        <img src="assets/images/review_photo_1.png" alt="" />
      </div>

      <div class="review_card_2">
        <div class="review_card_2_container">
          <div class="upper_text">"It is a nice and efficient system."</div>
          <div class="bottom_text">
            Simply the best application for online ordering. I'm using it for
            couple of months and I am extremely satisfied, and it is free.
            Personally, I recommend Go Healthy to all my clients, because it
            works very good with a nice workout.
          </div>
          <div class="review_card_name">- Sara Miller -</div>
          <div class="review_card_ocupation">personal trainer</div>
        </div>
        <img src="assets/images/review_photo_2.png" alt="" />
      </div>

      <div class="review_card_3">
        <div class="review_card_3_container">
          <div class="upper_text">
            "I am very happy because I chose Go Healthy!"
          </div>
          <div class="bottom_text">
            It's a great system, helpful in these COVID-19 times.
          </div>
          <div class="review_card_name">- Jake Johnson -</div>
          <div class="review_card_ocupation">lawyer</div>
        </div>
        <img src="assets/images/review_photo_3.png" alt="" />
      </div>
    </div>
  </div>

  <div class="bottom_footer">
    <a href="#"><div class="terms_and_conditions">terms&conditions</div></a>
    <div class="footer_logo">
      <a routerLink=""
        ><img class="logo" src="assets/images/logo.png" alt=""
      /></a>
    </div>
    <div class="footer_social_media">
      <div class="f_logo">
        <a href="#"><img src="assets/images/f_logo.png" alt="" /></a>
      </div>
      <div class="i_logo">
        <a href="#"><img src="assets/images/i_logo.png" alt="" /></a>
      </div>
      <div class="t_logo">
        <a href="#"><img src="assets/images/t_logo.png" alt="" /></a>
      </div>
    </div>
    <div class="up">
      <a href="#top"><img src="assets/images/up.png" alt="" /></a>
    </div>
  </div>
</body>
