<body>
  <div class="header">
    <img
      class="start_photo"
      src="assets/images/contact_start_photo.jpg"
      alt=""
    />
    <div class="logo_container">
      <a routerLink=""
        ><img class="logo" src="assets/images/white_logo.png" alt=""
      /></a>
    </div>
    <div class="navbar_photo">
      <img src="assets/images/navbar_photo5.png" alt="" />
    </div>
    <div class="navbar_buttons">
      <div class="menu">
        <a class="menu_a" routerLink="/menu">
          <span class="menu_a_span">Menu</span></a
        >
      </div>

      <div class="our_story">
        <a class="our_story_a" routerLink="/our-story">
          <span class="our_story_a_span">Our story</span></a
        >
      </div>

      <div class="reviews">
        <a class="reviews_a" routerLink="/reviews">
          <span class="reviews_a_span">Reviews</span>
        </a>
      </div>

      <div class="contact">
        <a class="contact_a" routerLink="/contact">
          <span class="contact_a_span">Contact</span>
        </a>
      </div>

      <div class="log_in">
        <a class="log_in_a" routerLink="/log-in">
          <span class="log_in_a_span">Log In</span>
        </a>
      </div>

      <div class="sign_in">
        <a class="sign_in_a" routerLink="/sign-in">
          <span class="sign_in_a_span">Sign In</span>
        </a>
      </div>

      <div class="cart">
        <a class="cart_a" routerLink="/cart">
          <span class="cart_a_span">Cart</span>
        </a>
      </div>
    </div>
    <div class="title">Contact us</div>
  </div>
  <div class="contact_main_content">
    <div class="get_in_touch">
      <div class="get_in_touch_title">Get in touch with us</div>
      <div class="under_get_in_touch">
        If you have any problems related to us, or requests, or you simply wanna
        leave a feedback, here is the place where you can do that.
      </div>
      <div class="form_container">
        <div class="app_form">
          <div class="app-form-group">
            <input class="app-form-control" placeholder="NAME" />
          </div>
          <div class="app-form-group">
            <input class="app-form-control" placeholder="EMAIL" />
          </div>
          <div class="app-form-group">
            <input class="app-form-control" placeholder="CONTACT NO" />
          </div>
          <div class="app-form-group message">
            <input class="app-form-control" placeholder="MESSAGE" />
          </div>
          <div class="app_form_group_buttons">
            <div class="button_container">
              <a href="mailto:conesciuc_ph_v@yahoo.com"
                ><button class="send_button" data-hover="Thank you!">
                  <div>Send</div>
                </button>
              </a>
            </div>
            <div class="button_container">
              <button class="cancel_button" data-hover="changed your mind?">
                <div>Cancel</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact_break_line"></div>
    <div class="general_informations">
      <div class="general_informations_title">General informations</div>
      <div class="informations">
        <div class="mail">Mail: gohealthy@yahoo.com</div>
        <div class="phone">Phone: +1-555-8099-004</div>
        <div class="company_name">GO HEALTHY LLC</div>
        <div class="established">Established in 2014</div>
        <div class="where">
          <div class="state">California, San Jose</div>
          <div class="address">3877 Driftwood Road</div>
          <div class="zip">95129</div>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.858560805208!2d-121.95028388427801!3d37.29848584719036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e352a72e28c61%3A0xa3fa65079c7d16f8!2sDriftwood%20Dr%2C%20San%20Jose%2C%20CA%2095128%2C%20Statele%20Unite%20ale%20Americii!5e0!3m2!1sro!2sro!4v1622013425160!5m2!1sro!2sro"
          width="682"
          height="265"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="contact_footer">
    <div class="footer_photo">
      <img src="assets/images/footer_photo.jpg" alt="" />
    </div>
    <div class="footer_links">
      <a href="#"><div class="terms_and_conditions">terms&conditions</div></a>
      <div class="footer_logo">
        <a router
          ><img class="logo" src="assets/images/white_logo.png" alt=""
        /></a>
      </div>
      <div class="footer_social_media">
        <div class="f_logo">
          <a href="#"><img src="assets/images/f_logo.png" alt="" /></a>
        </div>
        <div class="i_logo">
          <a routerLink=""><img src="assets/images/i_logo.png" alt="" /></a>
        </div>
        <div class="t_logo">
          <a href="#"><img src="assets/images/t_logo.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</body>
